@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-family: 'Homemade Apple', cursive;
}

.h-screen-40 {
    height: 40vh;
}

.h-screen-50 {
    height: 50vh;
}